<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>Pokedex</title>
</head>
<nav class="navbar">
    <div>
        <a class="pokepage" href=/> Back to PokePage! </a>
        <span> | </span>
        <a class="pokepage" href='/pokemon'>Back to Pokedex!</a>
        <span> | </span>
        <a class="pokepage" href='/pokemon/new'>Create a New Pokemon!</a>
    </div>
</nav>